.PortfolioTitle{
  text-align: left;
  margin-top: 64px;
  margin-left: 25%;
  margin-right: 25%;
}

.pt-info-header{
  margin-top:0px;
  margin-bottom:0px;
}

.pt-title{
  display: inline-block;
  max-width: 75%
}

.pt-company-role{
  display: inline-block;
  vertical-align: bottom;
  float: right;

  margin-top: 21.44px;
}

.pt-dot{
  display: inline-block;
  height: 4px;
  width: 4px;
  background-color: #222;
  border-radius: 50%;

  margin-bottom: 4px;
}

.pt-company{
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 8px;
}

.pt-role{
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 8px;
}

.pt-info{
  display: inline-block;
}
