.PortfolioItem{
  text-align: left;
  margin-bottom: 120px;
}

.pi-info-header{
  margin-top:0px;
  margin-bottom:0px;
  height: 64px;
}

.pi-company-role{
  margin-top: 4px;
}

.pi-company{
  display: inline-block;
  margin: 0px;
  margin-right: 8px;

  font-size: 16px;

  color: #484a47;
}

.pi-role{
  display: inline-block;
  margin: 0px;
  margin-left: 8px;

  font-size: 16px;

  color: #484a47;
}

.pi-info{
  display: inline-block;
}

.pi-lock-icon{
  margin-left: 8px;
}

.pi-see-more{
  display: inline-block;
  float: right;
}

.pi-desc{
  margin-top: 16px;
  margin-bottom: 16px;
  border-left: 8px solid #ffbf00;
  padding-left: 16px;
}

@media screen and (min-width: 650px){
  .pi-title{
    display: inline-block;
    margin-bottom:0px;
  }

  .pi-dot{
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: #484a47;
    border-radius: 50%;

    margin-bottom: 4px;
  }
}

@media screen and (max-width: 649px){
  .pi-title{
    display: inline-block;
    font-size: 24px;
    margin-bottom:0px;
  }

  .pi-dot{
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: #484a47;
    border-radius: 50%;

    margin-bottom: 4px;
  }

  .pi-see-more{
    width: calc(100% - 48px);
  }

  .pi-btn-wrapper{
    text-align: center;
  }

  .pi-desc{
    margin-bottom: 16px;
    border-left: none;
    padding-left: 0px;
  }

}
