.pass-content{
  margin-top: 160px;
  margin-bottom: 120px;
}


.pass-input{
  box-sizing: border-box;
  display:block;
  width: 100%;
  margin-bottom: 16px;
  height: 48px;
  border-radius: 4px;
  border-color: #222;
  font-size: 32px;
  padding-left: 16px;
  outline: none;
}

.pass-error{
  display:inline-block;
  color: red;
}

.pass-btn{
  background-color: #ffbf00;
  border: none;
  color: #222;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.4s ease 0s;
  float: right;
}

.pass-btn:hover{
  color: #fff;
  background-color: #484a47;
  cursor: pointer;
}

@media screen and (min-width: 1200px){
  .pass-content{
     margin-left: 25%;
     margin-right: 25%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .pass-content{
     margin-left: 20%;
     margin-right: 20%;
  }
}

@media screen and (max-width: 649px){
  .pass-content{
     margin-left: 24px;;
     margin-right: 24px;
  }

  .pass-btn{
    display: inline-block;
    margin-top: 16px;
    width: 100%;
  }
}
