@media screen and (min-width: 1200px){
  .PortfolioList{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 120px;
    text-align: center;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .PortfolioList{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 96px;
    text-align: center;
  }
}

@media screen and (max-width: 649px){
  .PortfolioList{
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    margin-top: 64px;
    text-align: center;
  }
}
