.ai-bio{
  border-left: 8px solid #ffbf00;
  padding-left: 16px;
}

.ai-item{
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease 0s;
  display: inline-block;
  margin-top: 0px;
}

.ai-item:hover{
  border-bottom: 4px solid #ffbf00;
  cursor: pointer;
}

.ai-paragraph{
  display: flex;
  line-height: 40px;
  justify-content: space-between;
  margin-top: 64px;
}

@media screen and (min-width: 1200px){
  .AboutInfo{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 32px;
    margin-bottom: 96px;
  }

  .ai-item-wrap{
    display: inline-block;
    text-decoration: none;
    line-height: 32px;
    color: #222;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .AboutInfo{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .ai-item-wrap{
    text-decoration: none;
    color: #222;
    line-height: 24px;
  }
}

@media screen and (max-width: 649px){
  .AboutInfo{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .ai-item-wrap{
    display: block;
    text-decoration: none;
    color: #222;
    line-height: 24px;
  }

  .ai-paragraph{
    display:block;
    text-align: center;
    line-height: 40px;
  }
}
