@media screen and (min-width: 800px){
  .AboutInfo{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 120px;
    margin-bottom: 96px;
  }

  .ai-item-wrap{
    display: inline-block;
    text-decoration: none;
    color: #222;
  }

  .ai-item{
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
    display: inline-block;

  }

  .ai-item:hover{
    border-bottom: 4px solid #ccc;
    cursor: pointer;
  }

  .ai-paragraph{
    line-height: 40px;
  }
}

@media screen and (min-width: 650px) and (max-width: 799px){
  .AboutInfo{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 96px;
    margin-bottom: 64px;
  }

  .ai-item-wrap{
    text-decoration: none;
    color: #222;
    height:40px;
  }

  .ai-item{
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
    display: inline-block;

  }

  .ai-item:hover{
    border-bottom: 4px solid #ccc;
    cursor: pointer;
  }

  .ai-paragraph{
    line-height: 40px;
  }
}

@media screen and (max-width: 649px){
  .AboutInfo{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 120px;
    margin-bottom: 96px;
  }

  .ai-item-wrap{
    display: inline-block;
    text-decoration: none;
    color: #222;
    height:40px;
  }

  .ai-item{
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
    display: inline-block;

  }

  .ai-item:hover{
    border-bottom: 4px solid #ccc;
    cursor: pointer;
  }

  .ai-paragraph{
    line-height: 40px;
  }
}
