.a-color-swatch{
  z-index: 100;
  color: #203342;
}

.btn-primary{
  background-color: #222;
  color: white;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.4s ease 0s;
}

.btn-primary:hover{
  color: #222;
  background-color: #ccc;
}
