.a-color-swatch{
  z-index: 100;
  color: #203342;
}

.btn-primary{
  background-color: #222;
  color: white;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.4s ease 0s;
}

.btn-primary:hover{
  color: #222;
  background-color: #ccc;
}

h1{
  font-size: 48px;
  weight: bolder;
}

h2{
  font-size: 39px;
}

h3{
  font-size: 31.25px;
}

h3.subheader{
  color: #666;
}

p{
  font-size: 20px;
  line-height: 32px;
}

p.subtext{
  color: #666;
}
