.nb-nav-item.active{
  border-bottom: 4px solid #222;
}

.nb-nav-item:hover{
  border-bottom: 4px solid #ccc;
}

Link{
  text-decoration: none;
}

@media screen and (min-width: 1200px){
  .nb-wrapper{
    display: block;
    height: 112px;
  }

  .nb-logo{
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 100;

    width: 96px;
    height: 96px;

    margin-left: 64px;
    margin-top: 16px;

    cursor: pointer;
  }

  .nb-nav-items{
    display: inline-block;

    font-weight: bold;
    font-size: 20px;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 76px;
    vertical-align: top;
  }

  .nb-nav-item{
    text-decoration: none;
    color: #222;
    margin-right: 64px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .nb-wrapper{
    display: block;
  }

  .nb-logo{
    text-align: left;
    display: inline-block;
    position: fixed;
    top: 0;
    z-index: 100;

    width: 64px;
    height: 64px;

    margin-left: 32px;
    margin-top: 16px;

    cursor: pointer;
  }

  .nb-nav-items{
    display: inline-block;
    text-align: center;

    margin-left: 20%;
    margin-right: 20%;

    font-weight: bold;
    font-size: 20px;

    margin-top: 44px;
    vertical-align: top;
  }

  .nb-nav-item{
    text-decoration: none;
    color: #222;
    margin-right: 64px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
  }
}

@media screen and (max-width: 649px){
  .nb-wrapper{
    display: block;
    text-align: center;
  }

  .nb-logo{
    margin: auto;

    width: 96px;
    height: 96px;

    margin-top: 16px;

    cursor: pointer;
  }

  .nb-nav-items{

    font-weight: bold;
    font-size: 20px;

    margin-top: 16px;
    vertical-align: top;
  }

  .nb-nav-item{
    text-decoration: none;
    color: #222;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
  }
}
