.cs-content{
  margin-top: 96px;
  margin-bottom: 120px;
}

.cs-title{
  border-left: 8px solid #ffbf00;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cs-header{
  border-left: 8px solid #ffbf00;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 1200px){
  .cs-content{
     margin-left: 25%;
     margin-right: 25%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .cs-content{
     margin-left: 20%;
     margin-right: 20%;
  }
}

@media screen and (max-width: 649px){
  .cs-content{
     margin-left: 24px;;
     margin-right: 24px;
  }
}
