@media screen and (min-width: 1200px){
  .nba-wrapper{
    display: block;
    height: 112px;
  }

  .nba-logo{
    text-align: left;
    display: inline-block;

    width: 96px;
    height: 96px;

    margin-left: 64px;
    margin-top: 16px;

    cursor: pointer;
  }

  .nba-nav-items{
    display: inline-block;

    font-weight: bold;
    font-size: 20px;

    margin-left: calc(25% - 160px);
    margin-right: 25%;
    margin-top: 76px;
    vertical-align: top;
  }

  .nba-nav-item{
    text-decoration: none;
    color: #222;
    margin-right: 64px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .nba-nav-item:hover{
    border-bottom: 4px solid #ccc;
  }

  Link{
    text-decoration: none;
  }
}

@media screen and (min-width: 650px) and (max-width: 1199px){
  .nba-wrapper{
    display: block;
    height: 112px;
  }

  .nba-logo{
    text-align: left;
    display: inline-block;

    width: 64px;
    height: 64px;

    margin-left: 32px;
    margin-top: 16px;

    cursor: pointer;
  }

  .nba-nav-items{
    display: inline-block;

    font-weight: bold;
    font-size: 16px;

    margin-left: calc(20% - 96px);
    margin-right: 20%;
    margin-top: 44px;
    vertical-align: top;
  }

  .nba-nav-item{
    text-decoration: none;
    color: #222;
    margin-right: 64px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: all 0.3s ease 0s;
  }

  .nba-nav-item:hover{
    border-bottom: 4px solid #ccc;
  }

  Link{
    text-decoration: none;
  }
}
